In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

seed_number = 123

In [42]:
# VERIFICAÇÃO DOS DADOS

In [43]:
train = pd.read_csv('input/train.csv')
test = pd.read_csv('input/test.csv')
train.shape, test.shape

((113754, 24), (28439, 24))

In [44]:
train.head()

,Id,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
1,3,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
2,4,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
3,6,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
4,8,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No

In [45]:
train.set_index('Id', inplace=True)
test.set_index('Id', inplace=True)

In [46]:
test.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Id,,,,,,,,,,,,,,,,,,,,,
1,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
5,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
7,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
19,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,WSW,...,47.0,32.0,1009.4,1009.7,NaN,2.0,15.5,21.0,Yes,No
25,2008-12-25,Albury,12.6,32.4,0.0,NaN,NaN,W,43.0,E,...,49.0,17.0,1012.9,1010.1,NaN,NaN,21.5,31.2,No,No

In [47]:
data = pd.concat([train,test],sort=True)
data.shape, data.columns

((142193, 23),
 Index(['Cloud3pm', 'Cloud9am', 'Date', 'Evaporation', 'Humidity3pm',
        'Humidity9am', 'Location', 'MaxTemp', 'MinTemp', 'Pressure3pm',
        'Pressure9am', 'RainToday', 'RainTomorrow', 'Rainfall', 'Sunshine',
        'Temp3pm', 'Temp9am', 'WindDir3pm', 'WindDir9am', 'WindGustDir',
        'WindGustSpeed', 'WindSpeed3pm', 'WindSpeed9am'],
       dtype='object'))

In [48]:
data.describe()

,Cloud3pm,Cloud9am,Evaporation,Humidity3pm,Humidity9am,MaxTemp,MinTemp,Pressure3pm,Pressure9am,Rainfall,Sunshine,Temp3pm,Temp9am,WindGustSpeed,WindSpeed3pm,WindSpeed9am
count,85099.000000,88536.000000,81350.000000,138583.000000,140419.000000,141871.000000,141556.000000,128212.000000,128179.000000,140787.000000,74377.000000,139467.000000,141289.000000,132923.000000,139563.000000,140845.000000
mean,4.503167,4.437189,5.469824,51.482606,68.843810,23.226784,12.186400,1015.258204,1017.653758,2.349974,7.624853,21.687235,16.987509,39.984292,18.637576,14.001988
std,2.720633,2.887016,4.188537,20.797772,19.051293,7.117618,6.403283,7.036677,7.105476,8.465173,3.781525,6.937594,6.492838,13.588801,8.803345,8.893337
min,0.000000,0.000000,0.000000,0.000000,0.000000,-4.800000,-8.500000,977.100000,980.500000,0.000000,0.000000,-5.400000,-7.200000,6.000000,0.000000,0.000000
25%,2.000000,1.000000,2.600000,37.000000,57.000000,17.900000,7.600000,1010.400000,1012.900000,0.000000,4.900000,16.600000,12.300000,31.000000,13.000000,7.000000
50%,5.000000,5.000000,4.800000,52.000000,70.000000,22.600000,12.000000,1015.200000,1017.600000,0.000000,8.500000,21.100000,16.700000,39.000000,19.000000,13.000000
75%,7.000000,7.000000,7.400000,66.000000,83.000000,28.200000,16.800000,1020.000000,1022.400000,0.800000,10.600000,26.400000,21.600000,48.000000,24.000000,19.000000
max,9.000000,9.000000,145.000000,100.000000,100.000000,48.100000,33.900000,1039.600000,1041.000000,371.000000,14.500000,46.700000,40.200000,135.000000,87.000000,130.000000

In [49]:
data.describe(include=['O'])

,Date,Location,RainToday,RainTomorrow,WindDir3pm,WindDir9am,WindGustDir
count,142193,142193,140787,142193,138415,132180,132863
unique,3436,49,2,2,16,16,16
top,2016-09-06,Canberra,No,No,SE,N,W
freq,49,3418,109332,110316,10663,11393,9780

In [50]:
# LIMPEZA DOS DADOS

In [51]:
# Retirada das colunas pois possuiem muitas variações.
data.drop(['Date', 'Location', 'WindDir3pm', 'WindDir9am', 'WindGustDir'], axis=1, inplace=True)
data.shape

(142193, 22)

In [52]:
data.head(100)

,Cloud3pm,Cloud9am,Evaporation,Humidity3pm,Humidity9am,Location,MaxTemp,MinTemp,Pressure3pm,Pressure9am,...,Rainfall,Sunshine,Temp3pm,Temp9am,WindDir3pm,WindDir9am,WindGustDir,WindGustSpeed,WindSpeed3pm,WindSpeed9am
Id,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,25.0,44.0,Albury,25.1,7.4,1007.8,1010.6,...,0.0,NaN,24.3,17.2,WSW,NNW,WNW,44.0,22.0,4.0
3,2.0,NaN,NaN,30.0,38.0,Albury,25.7,12.9,1008.7,1007.6,...,0.0,NaN,23.2,21.0,WSW,W,WSW,46.0,26.0,19.0
4,NaN,NaN,NaN,16.0,45.0,Albury,28.0,9.2,1012.8,1017.6,...,0.0,NaN,26.5,18.1,E,SE,NE,24.0,9.0,11.0
6,NaN,NaN,NaN,23.0,55.0,Albury,29.7,14.6,1005.4,1009.2,...,0.2,NaN,28.9,20.6,W,W,WNW,56.0,24.0,19.0
8,NaN,NaN,NaN,19.0,48.0,Albury,26.7,7.7,1010.1,1013.4,...,0.0,NaN,25.5,16.3,W,SSE,W,35.0,17.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,NaN,NaN,NaN,27.0,55.0,Albury,22.5,7.5,1023.5,1026.7,...,0.0,NaN,21.6,13.3,S,S,SE,28.0,7.0,7.0
129,NaN,NaN,NaN,30.0,60.0,Albury,24.0,8.2,1023.4,1027.1,...,0.0,NaN,23.5,13.8,SSE,SSE,SSE,17.0,13.0,7.0
130,NaN,NaN,NaN,27.0,67.0,Albury,25.7,8.1,1019.6,1024.2,...,0.0,NaN,25.0,15.1,S,ESE,ENE,22.0,13.0,9.0
131,7.0,8.0,NaN,42.0,59.0,Albury,26.7,11.6,1017.7,1021.5,...,0.0,NaN,24.3,16.4,NE,SE,W,48.0,11.0,6.0
132,6.0,8.0,NaN,47.0,75.0,Albury,24.9,13.0,1020.3,1024.4,...,8.4,NaN,24.4,18.0,E,S,W,46.0,11.0,6.0

In [53]:
data.isnull().sum()

Cloud3pm         57094
Cloud9am         53657
Evaporation      60843
Humidity3pm       3610
Humidity9am       1774
Location             0
MaxTemp            322
MinTemp            637
Pressure3pm      13981
Pressure9am      14014
RainToday         1406
RainTomorrow         0
Rainfall          1406
Sunshine         67816
Temp3pm           2726
Temp9am            904
WindDir3pm        3778
WindDir9am       10013
WindGustDir       9330
WindGustSpeed     9270
WindSpeed3pm      2630
WindSpeed9am      1348
dtype: int64

In [54]:
# Retirada dessas colunas pois apresentam 40% ou mais do seu total em valores Nulos
data.drop(['Cloud3pm', 'Cloud9am', 'Evaporation', 'Sunshine'], axis=1, inplace=True)
data.shape

(142193, 18)

In [55]:
# As colunas a seguir foram mantidas pois possuiam uma porcentagem aceitável de valores nulos  

#Preencher RainToday (Categórico) com Moda
data['RainToday'].fillna(data['RainToday'].mode()[0], inplace=True)

#Preencher Humidity3pm (Contínuo) com Mediana
data['Humidity3pm'].fillna(data['Humidity3pm'].median(), inplace=True)

#Preencher Humidity9am (Contínuo) com Mediana
data['Humidity9am'].fillna(data['Humidity9am'].median(), inplace=True)

#Preencher MaxTemp (Contínuo) com Média
data['MaxTemp'].fillna(data['MaxTemp'].mean(), inplace=True)

#Preencher MinTemp (Contínuo) com Média
data['MinTemp'].fillna(data['MinTemp'].mean(), inplace=True)

#Preencher Pressure3pm (Contínuo) com Média
data['Pressure3pm'].fillna(data['Pressure3pm'].mean(), inplace=True)

#Preencher Pressure9am (Contínuo) com Média
data['Pressure9am'].fillna(data['Pressure9am'].mean(), inplace=True)

#Preencher Rainfall (Contínuo) com Média
data['Rainfall'].fillna(data['Rainfall'].mean(), inplace=True)

#Preencher Temp3pm (Contínuo) com Média
data['Temp3pm'].fillna(data['Temp3pm'].mean(), inplace=True)

#Preencher Temp9am (Contínuo) com Média
data['Temp9am'].fillna(data['Temp9am'].mean(), inplace=True)

#Preencher WindGustSpeed (Contínuo) com Média
data['WindGustSpeed'].fillna(data['WindGustSpeed'].median(), inplace=True)

#Preencher WindSpeed3pm (Contínuo) com Média
data['WindSpeed3pm'].fillna(data['WindSpeed3pm'].median(), inplace=True)

#Preencher WindSpeed9am (Contínuo) com Média
data['WindSpeed9am'].fillna(data['WindSpeed9am'].median(), inplace=True)

data.isnull().sum()

Humidity3pm      0
Humidity9am      0
Location         0
MaxTemp          0
MinTemp          0
Pressure3pm      0
Pressure9am      0
RainToday        0
RainTomorrow     0
Rainfall         0
Temp3pm          0
Temp9am          0
WindDir3pm       0
WindDir9am       0
WindGustDir      0
WindGustSpeed    0
WindSpeed3pm     0
WindSpeed9am     0
dtype: int64

In [56]:
# VIZUALIZAÇÃO DOS DADOS

In [57]:
print(data['RainTomorrow'].value_counts())
print(data['RainTomorrow'].value_counts()/data['RainTomorrow'].count())
sns.histplot(data=data, x="RainTomorrow", stat="Probabilidade")

No     110316
Yes     31877
Name: RainTomorrow, dtype: int64
No     0.775819
Yes    0.224181
Name: RainTomorrow, dtype: float64

AttributeError: module 'seaborn' has no attribute 'histplot'